<!DOCTYPE html>
<html>

<head>
    <title>DCH Prod</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



    <script src="js/navigation.js?v1" defer></script>
    <script src="js/classes.js?v1" defer></script>
    <script src="js/shift.js?v1" defer></script>
    <link rel="stylesheet" href="css/shift.css?v1">


</head>

<body ng-app="myApp" ng-controller="myController">

    <div class="subheader">
        <div class="shift-selector">
            <button class="shift-nav" ng-click="prev()">&#8678</button>
            <p>{{shiftNameString}}</p>
            <button class="shift-nav" ng-click="next()">&#8680</button>
        </div>
    </div>

    <div class="dev">
        <button ng-click="randVals()">Random</button>
        <button ng-click="fetch()">Fetch</button>
        <button ng-click="sub()">Sub</button>
        <button ng-click="populate()">Populate</button>
    </div>

    <div class="section-selector">
        <p id="shovel-east-tab"  onmouseDown="openSection('shovel-east')" class="tab">Shovel
            East</i></p>
        <p id="shovel-west-tab"  onmouseDown="openSection('shovel-west')" class="tab  ">Shovel
            West</i></p>
        <p id="dragline-tab"  onmouseDown="openSection('dragline')" class="tab  ">Dragline</i></p>

        <p id="outsourcing-tab"  onmouseDown="openSection('outsourcing')" class="tab  ">Outsourcing</i></p>
        <p id="surface-miner-tab"  onmouseDown="openSection('surface-miner')" class="tab  ">SM /
            Dispatch</i></p>
        <p id="misc-tab"  onmouseDown="openSection('misc')" class="tab  ">Misc</i></p>
        <p id="summary-tab"  onmouseDown="openSection('summary')" class="tab  ">Summary</p>
    </div>

    <main>

        <section class="section" id="shovel-east">
            <div class="shovel-buttons">
                <button class="" ng-repeat="x in shovels" ng-click="x.data.east=true;" ng-disabled="x.data.east">
                    {{x.name}}
                </button>
            </div>

            <table class="data-table">
                <tr class="head">
                    <td></td>
                    <td>Coal-100 (trips)</td>
                    <td>Coal-120 (trips)</td>
                    <td>Coal-190 (trips)</td>
                    <td>OB-100 (trips)</td>
                    <td>OB-120 (trips)</td>
                    <td>OB-190 (trips)</td>
                    <td>LOCATION</td>
                    <td></td>
                </tr>

                <tr class="data" ng-repeat="x in shovels" ng-if="x.data.east">
                    <td class="name-col">{{x.name}}</td>
                    <td><input ng-change="ref()" class=" " type="number" ng-model="x.data.east_coal_100"></td>
                    <td><input ng-change="ref()" class=" " type="number" ng-model="x.data.east_coal_120"></td>
                    <td><input ng-change="ref()" class=" " type="number" ng-model="x.data.east_coal_190"></td>

                    <td><input ng-change="ref()" class=" " type="number" ng-model="x.data.east_ob_100"></td>
                    <td><input ng-change="ref()" class=" " type="number" ng-model="x.data.east_ob_120"></td>
                    <td><input ng-change="ref()" class=" " type="number" ng-model="x.data.east_ob_190"></td>
                    <td><select name="seam" ng-model="x.data.seam">
                            <option ng-repeat="seam in seams" value="{{seam}}">{{seam}}</option>
                        </select>
                    </td>
                    <td><button class="cancel" ng-click="x.remove('east');"><span>X</span></button></td>
                </tr>
                <tr class="total">
                    <td class="name-col">Total</td>
                    <td>{{shovels_total.data.east_coal_100}} trips</td>
                    <td>{{shovels_total.data.east_coal_120}} trips</td>
                    <td>{{shovels_total.data.east_coal_190}} trips</td>
                    <td>{{shovels_total.data.east_ob_100}} trips</td>
                    <td>{{shovels_total.data.east_ob_120}} trips</td>
                    <td>{{shovels_total.data.east_ob_190}} trips</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="total ">
                    <td class="name-col">Qty</td>
                    <td>{{shovels_total.qty.east_coal_100}} Te</td>
                    <td>{{shovels_total.qty.east_coal_120}} Te</td>
                    <td>{{shovels_total.qty.east_coal_190}} Te</td>
                    <td>{{shovels_total.qty.east_ob_100}} cum</td>
                    <td>{{shovels_total.qty.east_ob_120}} cum</td>
                    <td>{{shovels_total.qty.east_ob_190}} cum</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>

        </section>


        <section class="section" id="shovel-west">
            <div class="shovel-buttons">
                <button class="" ng-repeat="x in shovels" ng-click="x.data.west=true;" ng-disabled="x.data.west">
                    {{x.name}}
                </button>
            </div>



            <table class="data-table">
                <tr class="head">
                    <td></td>
                    <td>Coal-100 (trips)</td>
                    <td>Coal-85(trips)</td>
                    <td>OB-100(trips)</td>
                    <td>OB-85(trips)</td>
                    <td>LOCATION</td>
                    <td></td>
                </tr>

                <tr class="data" ng-repeat="x in shovels" ng-if="x.data.west">
                    <td class="name-col">{{x.name}}</td>
                    <td><input ng-change="ref()" class="" type="number" ng-model="x.data.west_coal_100"></td>
                    <td><input ng-change="ref()" class=" " type="number" ng-model="x.data.west_coal_85"></td>
                    <td><input ng-change="ref()" class=" " type="number" ng-model="x.data.west_ob_100">
                    </td>
                    <td><input ng-change="ref()" class=" " type="number" ng-model="x.data.west_ob_85">
                    </td>
                    <td><select name="seam" ng-model="x.data.seam">
                            <option ng-repeat="seam in seams" value="{{seam}}">{{seam}}</option>
                        </select>
                    </td>
                    <td><button class="cancel" ng-click="x.remove('west');"><span>X</span></button>
                    </td>
                </tr>
                <tr class="total">
                    <td class="name-col">Total</td>
                    <td>{{shovels_total.data.west_coal_100}} trips</td>
                    <td>{{shovels_total.data.west_coal_85}} trips</td>
                    <td>{{shovels_total.data.west_ob_100}} trips</td>
                    <td>{{shovels_total.data.west_ob_85}} trips</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="total">
                    <td class="name-col">Qty</td>
                    <td>{{shovels_total.qty.west_coal_100}} Te</td>
                    <td>{{shovels_total.qty.west_coal_85}} Te</td>
                    <td>{{shovels_total.qty.west_ob_100}} cum</td>
                    <td>{{shovels_total.qty.west_ob_85}} cum</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>


        </section>


        <section class="section " id="dragline">
            <table class="data data-table">
                <tr class="head">
                    <td></td>
                    <td>Solid</td>
                    <td>Rehandling</td>
                    <!-- <td>Hrs</td> -->
                    <td>Remark</td>

                </tr>
                <tr class="unit">
                    <td></td>
                    <td>(buckets)</td>
                    <td>(buckets)</td>
                    <td>Wrk | Mnt | Bdn | Idl</td>
                    <td></td>
                </tr>
                <tr class="data" ng-repeat="x in draglines">
                    <td class="name-col">{{x.name}}</td>
                    <td>
                        <input ng-change="ref()" class=" " type="number" ng-model="x.data.solid">
                    </td>
                    <td>
                        <input ng-change="ref()" class=" " type="number" ng-model="x.data.rehandling">
                    </td>
                    </td>

                    <td><input ng-change="ref()" class=" " ng-model="x.data.remark"></input class=" "></td>
                </tr>
                <tr class="total ">
                    <td>Total</td>
                    <td>{{draglines_total.data.solid}} buckets</td>
                    <td>{{draglines_total.data.rehandling}} buckets</td>
                    <!-- <td></td> -->
                    <td></td>
                </tr>
                <tr class="total ">
                    <td>Qty</td>
                    <td>{{draglines_total.qty.solid}} cum</td>
                    <td>{{draglines_total.qty.rehandling}} cum</td>
                    <!-- <td></td> -->
                    <td></td>
                </tr>
            </table>
        </section>


        <section class="section " id="outsourcing">
            <table class="data data-table">
                <tr class="head">
                    <td></td>
                    <td>Qty</td>
                    <td>Remark</td>
                </tr>
                <tr class="unit">
                    <td></td>
                    <td>(cum)</td>
                    <td></td>
                </tr>
                <tr class="data" ng-repeat="x in outsourcings">
                    <td class="name-col">{{x.name}}</td>
                    <td><input ng-change="ref()" class=" " type="number" ng-model="x.data.qty">
                    </td>
                    <td><input ng-change="ref()" class=" " ng-model="x.data.remark"></input class=" "></td>
                </tr>
                <tr class="total ">
                    <td>Total</td>
                    <td>{{outsourcings_total.data.qty}}</td>
                    <td></td>
                </tr>
            </table>
        </section>

        <section class="section " id="surface-miner">
            <p class="table-name">Surface Miner</p>
            <table class="data data-table">
                <tr class="head">
                    <td></td>
                    <td>Wrk</td>
                    <td>Cut</td>
                    <td>Prod</td>
                    <td>Remark</td>
                </tr>
                <tr class="unit">
                    <td></td>
                    <td>(hrs)</td>
                    <td>(mtrs)</td>
                    <td>(Te)</td>
                    <td></td>
                </tr>
                <tr class="data" ng-repeat="x in surfaceMiners">
                    <td class="name-col">{{x.name}}</td>
                    <td><input ng-change="ref()" class=" " type="number" name="" id="" ng-model="x.data.wrk"></td>
                    <td><input ng-change="ref()" class=" " type="number" name="" id="" ng-model="x.data.cutting"></td>
                    <td><input ng-change="ref()" class=" " type="number" name="" id="" ng-model="x.data.prod"></td>
                    <td><input ng-change="ref()" class=" " ng-model="x.data.remark"></input class=" "></td>
                </tr>
                <tr class="total ">
                    <td>Total</td>
                    <td>{{surfaceMiners_total.data.wrk}}</td>
                    <td>{{surfaceMiners_total.data.cutting}}</td>
                    <td>{{surfaceMiners_total.data.prod}}</td>
                    <td></td>
                </tr>
            </table>


            <p class="table-name">Rakes</p>
            <table class="data data-table">


                <tr class="data">
                    <td>Silo Rakes</td>
                    <td><input ng-model="disp.data[0]" ng-change="ref()" type="number" class=" " />
                    <td>WharfWall Rakes</td>
                    <td><input ng-model="disp.data[3]" ng-change="ref()" type="number" class=" " />
                </tr>
            </table>

            <p class="table-name">Dispatch</p>
            <table class="data data-table">

                <tr class="total ">
                    <td></td>

                    <td>Trips</td>
                    <td>Quantity</td>
                </tr>
                <tr class="data">
                    <td>Surface Miner Transport</td>

                    <td><input ng-model="disp.data.trips[0]" ng-change="ref()" type="number" class=" " />
                    <td><input ng-model="disp.data.qty[0]" ng-change="ref()" type="number" class=" " />
                    </td>
                </tr>
                <tr class="data">
                    <td>Mobile cruser</td>

                    <td><input ng-model="disp.data.trips[1]" ng-change="ref()" type="number" class=" " />
                    <td><input ng-model="disp.data.qty[1]" ng-change="ref()" type="number" class=" " />
                    </td>
                </tr>
                <tr class="data">
                    <td>Internal transport-RPL</td>

                    <td><input ng-model="disp.data.trips[2]" ng-change="ref()" type="number" class=" " />
                    <td><input ng-model="disp.data.qty[2]" ng-change="ref()" type="number" class=" " />
                    </td>
                </tr>
                <tr class="data">
                    <td>CHP Dumper Feeding</td>

                    <td><input ng-model="disp.data.trips[3]" ng-change="ref()" type="number" class=" " />
                    <td><input ng-model="disp.data.qty[3]" ng-change="ref()" type="number" class=" " />
                    </td>
                </tr>
                <tr class="data">
                    <td>CHP Diversion</td>

                    <td><input ng-model="disp.data.trips[4]" ng-change="ref()" type="number" class=" " />
                    <td><input ng-model="disp.data.qty[4]" ng-change="ref()" type="number" class=" " />
                    </td>
                </tr>
                <tr class="data">
                    <td>Payloader Rehanding</td>

                    <td><input ng-model="disp.data.trips[5]" ng-change="ref()" type="number" class=" " />
                    <td><input ng-model="disp.data.qty[5]" ng-change="ref()" type="number" class=" " />
                    </td>
                </tr>
                <tr class="total ">
                    <td>CHP Crushing</td>
                    <td></td>
                    <td>{{disp.chp}} Te</td>

                </tr>
            </table>



        </section>

        <section class="section" id="misc">
            <p class="table-name">{{shiftNameString}} Shift Manpower</p>
            <table class="data-table">
                <tr>
                    <th> Section </th>
                    <th>East</th>
                    <th>West</th>
                    <th>Total</th>
                </tr>
                <tr ng-repeat="(y,x) in mnp.data">
                    <td>{{y}}</td>
                    <td><input type="number" name="" id="" ng-model=x[0] ng-change="ref()"></td>
                    <td><input type="number" name="" id="" ng-model=x[1] ng-change="ref()"></td>
                    <td>{{x[2]}}</td>
                </tr>

            </table>

            <p class="table-name"> hemm avl-utl report </p>
            <table>
                <tr>
                    <th>HEMM</th>
                    <th>AVL HRS</th>
                    <th>WRK HRS</th>
                </tr>
                <tr ng-repeat="x in timings">
                    <td>{{x.name}}</td>
                    <td><input type="number" name="" id="" ng-model="x.data.avl"></td>
                    <td><input type="number" name="" id="" ng-model="x.data.wrk"></td>
                </tr>
            </table>
        </section>


        <!-- /////////////////////////////////////////////////////////////////////////////////// SUMMARY /// -->
        <section class="section" id="summary">
            <div>
                <p class="table-name">Shift Production Summary</p>
                <table class="data-table">
                    <tr class="head">
                        <td></td>
                        <td>Coal (Te)</td>
                        <td>OBR (cum)</td>
                    </tr>
                    <tr>
                        <td>East Section</td>
                        <td>{{shovels_total.qty.east_coal}}</td>
                        <td>{{shovels_total.qty.east_ob}}</td>

                    </tr>
                    <tr>
                        <td>West Section</td>
                        <td>{{shovels_total.qty.west_coal}}</td>
                        <td>{{shovels_total.qty.west_ob}}</td>

                    </tr>
                    <tr>
                        <td>Total S/D</td>
                        <td>{{shovels_total.qty.coal}}</td>
                        <td>{{shovels_total.qty.ob}}</td>
                    </tr>
                    <tr>
                        <td>Surface Miner</td>
                        <td>{{surfaceMiners_total.data.prod}}</td>
                        <td>{{}}</td>
                    </tr>
                    <tr>
                        <td>Dragline</td>
                        <td>{{}}</td>
                        <td>{{draglines_total.qty.solid}}</td>
                    </tr>
                    <tr>
                        <td>Total Deptt</td>
                        <td>{{shovels_total.qty.coal+surfaceMiners_total.data.prod}}</td>
                        <td>{{shovels_total.qty.ob+draglines_total.qty.solid}}</td>
                    </tr>
                    <tr>
                        <td>Outsourcing</td>
                        <td>{{}}</td>
                        <td>{{outsourcings_total.data.qty}}</td>
                    </tr>
                    <tr>
                        <td>Grand Total</td>
                        <td>{{shovels_total.qty.coal+surfaceMiners_total.data.prod}}</td>
                        <td>{{shovels_total.qty.ob+draglines_total.qty.solid+outsourcings_total.data.qty}}</td>
                    </tr>
                </table>

                <p class="table-name">Dispatch</p>
                <table class="data data-table">
                    <tr>
                        <td>Rakes</td>
                        <td>Silo: {{disp.data[0]}}</td>
                        <td>WW: {{disp.data[3]}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr class="total ">
                        <td></td>
                        <td>Trips</td>
                        <td>Quantity</td>
                    </tr>
                    <tr class="data">
                        <td>Surface Miner Transport</td>

                        <td>{{disp.data.trips[0]}}</td>
                        <td>{{disp.data.qty[0]}} </td>
                    </tr>
                    <tr class="data">
                        <td>Mobile cruser</td>

                        <td>{{disp.data.trips[1]}}</td>
                        <td>{{disp.data.qty[1]}} </td>
                    </tr>
                    <tr class="data">
                        <td>Internal transport-RPL</td>

                        <td>{{disp.data.trips[2]}}</td>
                        <td>{{disp.data.qty[2]}} </td>
                    </tr>
                    <tr class="data">
                        <td>CHP Dumper Feeding</td>

                        <td>{{disp.data.trips[3]}}</td>
                        <td>{{disp.data.qty[3]}} </td>
                    </tr>
                    <tr class="data">
                        <td>CHP Diversion</td>

                        <td>{{disp.data.trips[4]}}</td>
                        <td>{{disp.data.qty[4]}} </td>
                    </tr>
                    <tr class="data">
                        <td>Payloader Rehanding</td>

                        <td>{{disp.data.trips[5]}}</td>
                        <td>{{disp.data.qty[5]}} </td>
                    </tr>
                    <tr class="total ">
                        <td>CHP Crushing</td>
                        <td></td>
                        <td>{{disp.chp}} Te</td>

                    </tr>
                </table>

                <p class="table-name">HEMM Performance</p>
                <table class="data-table">
                    <tr>
                        <td></td>
                        <td>AVL-HRS</td>
                        <td>WRK-HRS</td>
                    </tr>
                    <tr>
                        <td>
                            Shovel
                        </td>
                        <td>{{this.timings[0].data.avl+this.timings[1].data.avl}}</td>
                        <td>{{this.timings[0].data.wrk+this.timings[1].data.wrk}}</td>
                    </tr>
                    <tr>
                        <td>
                            Dumper
                        </td>
                        <td>{{this.timings[2].data.avl+this.timings[3].data.avl}}</td>
                        <td>{{this.timings[2].data.wrk+this.timings[3].data.wrk}}</td>
                    </tr>
                    <tr>
                        <td>
                            Dragline
                        </td>
                        <td>{{this.timings[4].data.avl+this.timings[5].data.avl+this.timings[6].data.avl+this.timings[7].data.avl}}
                        </td>
                        <td>{{this.timings[4].data.wrk+this.timings[5].data.wrk+this.timings[6].data.wrk+this.timings[7].data.wrk}}
                        </td>
                    </tr>
                </table>

                <p class="table-name">{{shiftNameString_last}} Shift Manpower</p>
                <table class="data-table">
                    <tr>
                        <th> Section </th>
                        <th>East</th>
                        <th>West</th>
                        <th>Total</th>
                    </tr>
                    <tr ng-repeat="(y,x) in mnp.data">
                        <td>{{y}}</td>
                        <td>{{x[0]}}</td>
                        <td>{{x[1]}}</td>
                        <td>{{x[2]}}</td>
                    </tr>

                </table>
            </div>


            <!-- ///////////////////////////////// Template for detailed report  -->

            <template>
                <div class="  summary-section" id="shovel-summary">
                    <table class="data-table">
                        <tr class="">
                            <td colspan="7">Shovel</td>
                        </tr>
                        <tr class="head">
                            <td></td>
                            <td>East Coal</td>
                            <td>East OB</td>
                            <td>West Coal</td>
                            <td>West OB</td>
                            <td>Total Coal</td>
                            <td>Total OB</td>
                        </tr>
                        <tr class="unit">
                            <td></td>
                            <td>(Te)</td>
                            <td>(cum)</td>
                            <td>(Te)</td>
                            <td>(cum)</td>
                            <td>(Te)</td>
                            <td>(cum)</td>
                        </tr>
                        <tr class="data" ng-repeat="x in shovels">
                            <td class="name-col">{{x.name}}</td>
                            <td>{{x.qty.east_coal}}</td>
                            <td>{{x.qty.east_ob}}</td>
                            <td>{{x.qty.west_coal}}</td>
                            <td>{{x.qty.west_ob}}</td>
                            <td>{{x.qty.coal}}</td>
                            <td>{{x.qty.ob}}</td>
                        </tr>
                        <tr class="total ">
                            <td class="name-col">Total</td>
                            <td>{{shovels_total.qty.east_coal}} Te</td>
                            <td>{{shovels_total.qty.east_ob}} cum</td>
                            <td>{{shovels_total.qty.west_coal}} Te</td>
                            <td>{{shovels_total.qty.west_ob}} cum</td>
                            <td>{{shovels_total.qty.coal}} Te</td>
                            <td>{{shovels_total.qty.ob}} cum</td>
                        </tr>
                    </table>
                </div>
                <div class="  summary-section" id="dragline-summary">
                    <table class="data-table ">
                        <tr class=" ">
                            <td colspan="10">Dragline</td>
                        </tr>
                        <tr class="head">
                            <td></td>
                            <td>Solid</td>
                            <td>Rehandling</td>
                            <td>Remark</td>
                        </tr>
                        <tr class="unit">
                            <td></td>
                            <td>(cum)</td>
                            <td>(cum)</td>
                            <td></td>
                        </tr>
                        <tr class="data" ng-repeat="x in draglines">
                            <td>{{x.name}}</td>
                            <td>{{x.solid_qty}}</td>
                            <td>{{x.rehandling_qty}}</td>
                            <td>{{x.data.remark}}</td>
                        </tr>
                        <tr class="total ">
                            <td>Total</td>
                            <td>{{draglines_total.solid_qty}} cum</td>
                            <td>{{draglines_total.rehandling_qty}} cum</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div class="  summary-section" id="surface-miner-summary">

                    <table class="data-table">
                        <tr class=" ">
                            <td colspan="10">Surface Miner</td>
                        </tr>
                        <tr class="head">
                            <td></td>
                            <td>Working Hrs</td>
                            <td>Cutting</td>
                            <td>Production</td>
                            <td>Remark</td>
                        </tr>
                        <tr class="unit">
                            <td></td>
                            <td>(hrs)</td>
                            <td>(mtrs)</td>
                            <td>(Te)</td>
                            <td></td>
                        </tr>
                        <tr class="data" ng-repeat="x in surfaceMiners">
                            <td class="name-col">{{x.name}}</td>
                            <td>{{x.data.wrk}}</td>
                            <td>{{x.data.cutting}}</td>
                            <td>{{x.data.prod}}</td>
                            <td>{{x.data.remark}}</td>
                        </tr>
                        <tr class="total ">
                            <td class="name-col">Total</td>
                            <td>{{surfaceMiners_total.data.wrk}} hrs</td>
                            <td>{{surfaceMiners_total.data.cutting}} mtrs</td>
                            <td>{{surfaceMiners_total.data.prod}} Te </td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div class="  summary-section" id="outsourcing-summary">
                    <table class="data-table ">
                        <tr class=" ">
                            <td colspan="10">Outsourcing</td>
                        </tr>
                        <tr class="head">
                            <td></td>
                            <td>Qty</td>
                            <td>Remark</td>
                        </tr>
                        <tr class="unit">
                            <td></td>
                            <td>(cum)</td>
                            <td></td>
                        </tr>
                        <tr class="data" ng-repeat="x in outsourcings">
                            <td class="name-col">{{x.name}}</td>
                            <td>{{x.data.qty}}</td>
                            <td>{{x.data.remark}}</td>
                        </tr>
                        <tr class="total ">
                            <td class="name-col">Total</td>
                            <td>{{outsourcings_total.data.qty}} cum</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </template>
            <!-- ////////////////////////////////////////////////////////////////// -->

        </section>
    </main>
</body>



</html>